<div class="container py-5">
  <div class="row">
    <div class="col-md-7 order-md-2">
      <h5><%= @customer.name %></h5>
      <p><%= @customer.introduction %></p>
    </div>
    <div class="col-md-3 order-md-1">
      <%= image_tag @customer.get_profile_image(120,120), class:"rounded-circle";  %>
    </div>
  </div>
  <% if @customer.id == current_customer.id %>
  <div class="row py-3">
    <div class="col-md-7 order-md-2">
      <p><%= link_to "プロフィール編集", edit_customer_path(@customer), class:"text-dark" %></p>
    </div>
  </div>  
  <% end %>
</div>
