<div class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= link_to root_path do %>
        <%= image_tag 'Nutrin.png', size: '90x45' %>
      <% end %>
      <p class="small text-black-50">栄養バランスを考えたレシピの<br>
      情報共有コミュニティ</p>
    </div>
    <div class="col-md-8">
      <h6 class="mt-2">About</h6>
      <ul class="p-0 list-unstyled">
        <li>
          <%= link_to about_path, class: "text-black-50" do %>
            Nutrinについて
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>